<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet"/>
    <script src="~/js/core.js"></script>
</head>
<body>
    <div>
        <div class="menu">
            @await Html.PartialAsync("Navigation")
        </div>
        <div class="col-sm-9">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/script.js"></script>
</body>
</html>
